{% extends 'base.html' %} {% block content %}
<h2>Inserir Novo Post</h2>
<form method="POST" action="{% url 'posts:create' %}">
  {% csrf_token %}
  <p>
    <label for="id_title">Título:</label>
    <input type="text" name="title" id="id_title" />
  </p>
  <p>
    <label for="id_publish_date">Data de Publicação:</label>
    <input type="number" name="publish_date" id="id_publish_date" />
  </p>
  <p>
    <label for="id_content">Conteúdo:</label>
    <input type="text" name="content" id="id_content" />
  </p>
  <button type="submit">Criar</button>
</form>

{% endblock content %}